body{
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: 9em/1.2 Arial, Helvetica, sans-serif;
    background-color: lightpink;
}

h1{
    text-align: right;
    color: orangered;
    line-height: 50px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10px;
}

.container > div {
    border: solid yellow 2px;
    background-color: green;
    padding: 20px;
    border-radius: 20px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3.1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
.box1{
    grid-column-start: 1;
    grid-row-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
} 


.box1 > div{
    border: solid orange 1px;
    border-radius: 2px;
    background-color: royalblue;
}

.wrapper > div{
    border: grey;
    border-radius: 5px;
background: tomato;

}
.flexwrapper{
    display: flex;
    align-items: flex-end;
    min-height: 200px;
}

.flexbox1{
    align-self: stretch;
}

.flexbox2{
    align-self: flex-start;
}
.flexwrapper > div{
    border: solid black 2px;
    background-color: indianred;
}
.gridwrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fx);
    align-items: end;
    grid-auto-rows: 200px;
}
.gridbox1{
    align-self: stretch;
}
.gridbox2{
    align-self: start;
}
.gridwrapper > div{
    border: solid red 4 px;
    border-radius: 10px;
    background-color: whitesmoke;
}
